:focus {
    outline: 0;
}

.background {
    background-color: #FF4635;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in .5s;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in .5s;
    animation: fadeIn ease-="in .5s;
 -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: foFF4635rwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
}

.fade-in.title {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    margin-top: 80px;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.fade-in.set_name {
    margin-top: 50px;
    margin-left: 510px;
    font-size: 1.8em;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
}

.fade-in.question_container {
    background-image: url(index_card.svg);
    position: relative;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #FF4635;
    display: -webkit-box;
    border-radius: 25px;
    border: 4px solid #3ABEC3;
    padding: 20px;
    width: 750px;
    height: 300px;
    -webkit-animation-delay: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;
}

#question {
    text-align: center;
}

.input_box {
    margin-top: 5px;
    position: relative;
    text-align: center;
}

.fade-in.input {
    color: #FF4635;
    border: 4px solid #3ABEC3;
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
    margin-left: 20;
    border-radius: 10px;
    height: 60px;
    width: 600px;
    color: #FF4635;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fade-in.submit {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    margin-top: 70px;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

#submit {
    border: 2px solid #3ABEC3;
    padding: 5;
    text-align: center;
    margin-top: 15px;
    height: 75px;
    font-weight: bold;
    font-size: .8em;
}


/*---make a basic box ---*/

.box {
    position: relative;
    font-weight: bold;
    font-size: 50px;
    color: #EEDEDF;
}